<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% content_for :title do %>Rails 5 ActionCable Chat<% end %>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Bootstrap Rails 5 ActionCable Chat" %>">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
    <!-- Fonts -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

  </head>
    
      <body>

<div class="brand">Rails 5 ActionCable Chat</div>
    <div class="address-bar">Desarrollado con Cloud9 IDE | Desplegado sobre Heroku</div>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
    
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="index.html">Rails 5 ActionCable Chat</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <%= link_to 'Principal', root_path%>
                    </li>
                    <li>
                        <%= link_to 'Acerca de', page_path('about') %>
                    </li>
                    <li>
                        <%= link_to 'Blog', page_path('blog') %>
                    </li>
                    <li>
                        <%= link_to 'Contacto', page_path('contact') %>
                    </li>
                       <% if user_signed_in? %>
 <!--     
                  <li>
                    <span class="text-muted">Logged in as <strong><%= current_user.name %></strong></span>
                  </li>
-->               
      <li class="active">
        <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
      </li>

      <% else %>
      <li class="active">
        <%= link_to 'Log in', root_path(:anchor => 'login') %>
      </li>             
      <% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    
    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Acerca de
                        <strong>Rails 5 ActionCable Chat</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <%= image_tag("slide-2.jpg", class: "img-responsive img-border-left") %>
                </div>
                <div class="col-md-6">
                    <p>Una de las novedades de Rails 5 es la solución oficial para integrar WebSockets con Rails, llamada ActionCable.</p>
                    <p>A diferencia de HTTP, WebSockets es un tecnología que permite mantener una conexión abierta entre el cliente y el servidor, proporcionando un canal de comunicación bidireccional y full-duplex sobre un único socket TCP.</p>
                    <p>De acuerdo con el sito oficial en <a href="https://github.com/rails/rails/tree/master/actioncable" target="_blank">GitHub</a>, de ActionCable: “ActionCable integra perfectamente WebSockets con el resto de tu aplicación Rails. Permite desarrollar funciones de tiempo real en Ruby con el mismo estilo y forma que el resto de tu aplicación Rails, sin perder en rendimiento y escalabilidad. Proporciona una solución completa tanto desde el lado del cliente con JavaScript como del lado del servidor con Ruby. Tienes acceso a tu modelo de dominio completo escrito con Active Record o el ORM de tu elección.”
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Tecnologías
                        <strong>empleadas</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-sm-4 text-center">
                    <a href="http://rubyonrails.org/" target="_blank">
                      <%= image_tag("rails.jpg", class: "img-responsive") %>
                    </a>
                    <h3>Rails 5
                        <small>Backend</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <a href="http://getbootstrap.com/" target="_blank">
                      <%= image_tag("bootstrap.jpg", class: "img-responsive") %>
                    </a>
                    <h3>Bootstrap
                        <small>Frontend</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <a href="http://www.heroku.com/" target="_blank">
                      <%= image_tag("heroku.jpg", class: "img-responsive") %>
                    </a>
                    <h3>Heroku
                        <small>Cloud Server</small>
                    </h3>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
    <!-- /.container -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; <a href="http://google.com/+VíctorCasasSanMiguel">Víctor Casas San Miguel</a> 2017</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>